{%extends 'blog/basic.html'%}
{%block title%} Blog - My Awesome Cart {%endblock%}
{%block body%}
<div class="container mt-5">
    <div class="row">
        {% for item in myposts %}
        <div class="col-md-6 mb-4">
            <div class="card flex-md-row shadow-sm h-md-250 position-relative">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">
                        {{item.head0}}
                    </strong>
                    <h3 class="mb-2">{{item.tilte}}</h3>
                    <p class="card-text mb-auto">{{item.head1}}</p>
                    <a href="blogpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="d-none d-lg-block">
                    <img src="/media/{{item.thumbnail}}" class="img-fluid rounded-right" width="200" height="250" alt="{{item.tilte}} thumbnail">
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2%}
    </div>
    <div class="row">
        {%endif%}
        {%endfor%}
    </div>
</div>
{%endblock%}